---
title: Events
layout: page
permalink: "/events/"
order: 2
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>The Latest ICAN news and events</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
	{% for post in site.posts %}
		<div class="row post-area">
			<div class="col-md-5">
				<div class="post-header">
					<a href="{{ post.url }}" class="bold">{{ post.title }}</a>
					<p class="post-date">{{ post.date | date_to_long_string }}</p>
				</div>
				<div class="post-body">
					<p>{{ post.excerpt | strip_html | truncate_words: 50 }}</p>
					<p class="post-link"><a href="{{ post.url }}">Read full post ></a></p>
				</div>
			</div>
			{% assign images = post.content | split:"<img " %}
			{% for image in images %}
				{% if image contains 'src' %}
					{% assign html = image | split:"/>" | first %}
						<div class="col-md-6 col-md-offset-1">
							<a href="{{ post.url }}"><img {{ html }} /></a>
						</div>
					{% break %}
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
