---
title: Posts
layout: page
permalink: "/posts/"
order: 2
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>The Latest ICAN news and events</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
	{% for post in site.posts %}
		{% include post_summary.html post=post %}
	{% endfor %}
</div>
