---
title: Community Events
layout: page
permalink: "/posts/community/"
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Community Events</h1>
          <p>Alumni working together to serve our communities</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
	{% for post in site.posts %}
		{% if post.category == "community" %}
			{% include post_summary.html post=post %}
		{% endif %}
	{% endfor %}
</div>
