---
title: Social Events
layout: page
permalink: "/posts/social"
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Social Events</h1>
          <p>Past and future get-togethers for alumni</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
	{% for post in site.posts %}
		{% if post.category == "social" %}
			{% include post_summary.html post=post %}
		{% endif %}
	{% endfor %}
</div>
